@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lilita+One&display=swap');

/*este es un reset de css a HTML. Debe ir en todos los archivos css. de la linea 6 a la 14*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html body {
    height: 100%;
}
 
body  {
         font-family: "Lilita One", sans-serif;
        font-size: 1.2em;
        min-height: 100%;
      }
      
/**    > *    significa que esto va a aplicar a todo lo que este dentro de .contenedor */
.contenedor > * {
    box-shadow: -1px 1px 8px rgba(0,0,0, 0.75);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    }
.header{
    grid-area: header;
    background-color:aquamarine ;
}
.nav{
    grid-area: navbar;
    background-color: pink;
}
.aside{
    grid-area: aside;
    background-color: aquamarine;
}
.article{
    grid-area: article;
    background-color: pink;
}
.footer{
    grid-area: footer;
    background-color: aquamarine;
}

/* separador es gap*/

.contenedor {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "navbar" 100px
        "article" 100px
        "aside" 100px
        "footer" 100px;
}

/* esto es una media query. que sucede con algun comportamiento*/
@media (min-width:600px){
 .contenedor{
    grid-template:
    "header header" 100px
    "nav nav" 50px
    "article" auto
    "footer footer" 100px 200px auto
 }   
}